<h1>
<center>
Final Project: Part 2 Model Bake Off: Wine Quality (Decision Tree and Random Forest)
</center>
</h1>

# Decision Tree and K Folding Modeling Method

I am going to be using a decision tree to predict the quality of wine. With K-Means (See K-Means Notebook) I was able to predict missing values but with this I will predict if the wine is good or bad quality based on it's other properties. Since there are no binary columns I will split the 'quality' column into two binary columns 'g_quality' and 'b_quality' for good and bad quality. These will be determined by a cutoff around 6-7 depending on the counts of quality.

# Read in spreadsheet

In [203]:
import pandas as pd
import os

url = 'https://docs.google.com/spreadsheets/d/1SF9DGShsQOv0IyxjMIHzQUZbjFwXzY3eC8SSofl53xI/export?format=csv'
wine_table = pd.read_csv(url)

In [204]:
#I am setting the option to see all the columns of our table as we build it.
pd.set_option('display.max_columns', None)

In [205]:
# Check to make sure wine_table is looking correct
wine_table.head(10)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
5,7.4,0.66,0.00,1.8,0.075,13.0,40.0,0.9978,3.51,0.56,9.4,5
6,7.9,0.60,0.06,1.6,0.069,15.0,59.0,0.9964,3.30,0.46,9.4,5
7,7.3,0.65,0.00,1.2,0.065,15.0,21.0,0.9946,3.39,0.47,10.0,7
8,7.8,0.58,0.02,2.0,0.073,9.0,18.0,0.9968,3.36,0.57,9.5,7
9,7.5,0.50,0.36,6.1,0.071,17.0,102.0,0.9978,3.35,0.80,10.5,5

In [206]:
home_path =  os.path.expanduser('~')
os.chdir(home_path + '/CIS_399/datascience_1/')
!git pull

Already up-to-date.

In [207]:
import sys
sys.path.append(home_path + '/CIS_399/datascience_1')
from week7 import *
%who function

accuracy	 assign_nulls	 batch_ohe	 build_pred	 build_tree_iter	 caser	 closest_centroid	 compute_mean	 compute_prediction
compute_training	 euclidean_distance	 f1	 find_best_splitter	 forest_builder	 generate_table	 gig	 gini	 informedness
initialize_centroids	 k_fold	 k_means	 phase_1	 phase_2	 predictor_case	 probabilities	 row_to_vect	 seeder
tree_predictor	 vote_taker	 wine_quality_split

I am going to look at the quality values and create my cutoff point for high and low quality wines. This way we have a binary target column (high quality wines) that we can look for.

In [208]:
wine_table['quality'].value_counts()

5    681
6    638
7    199
4     53
8     18
3     10
Name: quality, dtype: int64

In [209]:
# I'm going to write a function specifically for splitting the wine quality because values of 6 are very high
# and I want to see if changing high quality wines to include/exclude ratings of 6 have any influence on predictions
def wine_quality_split(table, cutoff):
    # cutoff is included in low quality
    table['h_quality'] = table.apply(lambda row: 1 if row.quality > cutoff else 0, axis=1)
    table['l_quality'] = table.apply(lambda row: 0 if row.h_quality == 1 else 1, axis=1)
    return table

In [210]:
# going to set the cutoff at 6 so the high quality counts should only include 7 and 8
wine_table = wine_quality_split(wine_table, 6)

# the value counts should be opposite
print(wine_table['h_quality'].value_counts())
print()
print(wine_table['l_quality'].value_counts())

0    1382
1     217
Name: h_quality, dtype: int64

1    1382
0     217
Name: l_quality, dtype: int64

In [211]:
wine_table.head(10)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,h_quality,l_quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,0,1
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,0,1
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,0,1
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6,0,1
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,0,1
5,7.4,0.66,0.00,1.8,0.075,13.0,40.0,0.9978,3.51,0.56,9.4,5,0,1
6,7.9,0.60,0.06,1.6,0.069,15.0,59.0,0.9964,3.30,0.46,9.4,5,0,1
7,7.3,0.65,0.00,1.2,0.065,15.0,21.0,0.9946,3.39,0.47,10.0,7,1,0
8,7.8,0.58,0.02,2.0,0.073,9.0,18.0,0.9968,3.36,0.57,9.5,7,1,0
9,7.5,0.50,0.36,6.1,0.071,17.0,102.0,0.9978,3.35,0.80,10.5,5,0,1

I am going to use K-Folding to test the decision tree and see what the best values of k are for modeling this data.

In [212]:
# none of these columns are binary so I am going to OHE some of them for predictors
# I am going to use chlorides, total sulfur dioxide, residual sugar, density, and quality

ohe_columns = [
    'chlorides',
    'total sulfur dioxide',
    'residual sugar',
    'density',
    'quality'
]

In [213]:
def batch_ohe(table, targets, bins):
    """ writing this function to One Hot Encode multiple non-binary columns in one function call"""
    for target in targets:
        print("Binning " + target)
        bin_names = []
        bin_names.append('Low')
        bin_names.append('Medium')
        bin_names.append('High')
        
        bin_name = target.replace(' ', '') + '_bin'
        
        table[bin_name] = pd.cut(table[target], bins, labels=bin_names)
        print(table[bin_name].value_counts())
        print("One Hot Encoding " + target)
        
        target = target.replace(' ', '')
        one_hot_e = pd.get_dummies(table[bin_name],prefix=target,dummy_na=False)  # false because should not have empties
        table = table.join(one_hot_e)
        
        print()
        
        table = table.drop(bin_name, axis=1)
    return table

In [214]:
wine_table = batch_ohe(wine_table, ohe_columns, 3)

Binning chlorides
Low       1560
Medium      28
High        11
Name: chlorides_bin, dtype: int64
One Hot Encoding chlorides

Binning total sulfur dioxide
Low       1472
Medium     125
High         2
Name: totalsulfurdioxide_bin, dtype: int64
One Hot Encoding total sulfur dioxide

Binning residual sugar
Low       1540
Medium      48
High        11
Name: residualsugar_bin, dtype: int64
One Hot Encoding residual sugar

Binning density
Medium    1270
Low        171
High       158
Name: density_bin, dtype: int64
One Hot Encoding density

Binning quality
Medium    1319
High       217
Low         63
Name: quality_bin, dtype: int64
One Hot Encoding quality

In [215]:
wine_table.head(10)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,h_quality,l_quality,chlorides_Low,chlorides_Medium,chlorides_High,totalsulfurdioxide_Low,totalsulfurdioxide_Medium,totalsulfurdioxide_High,residualsugar_Low,residualsugar_Medium,residualsugar_High,density_Low,density_Medium,density_High,quality_Low,quality_Medium,quality_High
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,0,1,1,0,0,1,0,0,1,0,0,0,1,0,0,1,0
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,0,1,1,0,0,1,0,0,1,0,0,0,1,0,0,1,0
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,0,1,1,0,0,1,0,0,1,0,0,0,1,0,0,1,0
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6,0,1,1,0,0,1,0,0,1,0,0,0,1,0,0,1,0
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,0,1,1,0,0,1,0,0,1,0,0,0,1,0,0,1,0
5,7.4,0.66,0.00,1.8,0.075,13.0,40.0,0.9978,3.51,0.56,9.4,5,0,1,1,0,0,1,0,0,1,0,0,0,1,0,0,1,0
6,7.9,0.60,0.06,1.6,0.069,15.0,59.0,0.9964,3.30,0.46,9.4,5,0,1,1,0,0,1,0,0,1,0,0,0,1,0,0,1,0
7,7.3,0.65,0.00,1.2,0.065,15.0,21.0,0.9946,3.39,0.47,10.0,7,1,0,1,0,0,1,0,0,1,0,0,1,0,0,0,0,1
8,7.8,0.58,0.02,2.0,0.073,9.0,18.0,0.9968,3.36,0.57,9.5,7,1,0,1,0,0,1,0,0,1,0,0,0,1,0,0,0,1
9,7.5,0.50,0.36,6.1,0.071,17.0,102.0,0.9978,3.35,0.80,10.5,5,0,1,1,0,0,0,1,0,0,1,0,0,1,0,0,1,0

In [216]:
splitter_columns = [
    'chlorides_Low',
    'chlorides_Medium',
    'chlorides_High',
    'residualsugar_Low',
    'residualsugar_Medium',
    'residualsugar_High',
    'density_Low',
    'density_Medium',
    'density_High',
    'quality_Low',
    'quality_Medium',
    'quality_High'
]

In [217]:
wine5_table = k_fold(wine_table, 5, 'h_quality', {}, splitter_columns)
wine5_table.head()

,name,true_positive,false_positive,true_negative,false_negative,accuracy,f1,informedness
0,fold 1 test,24.0,NaN,295.0,NaN,1.0,1.0,1.0
1,fold 2 test,52.0,NaN,267.0,NaN,1.0,1.0,1.0
2,fold 3 test,47.0,NaN,272.0,NaN,1.0,1.0,1.0
3,fold 4 test,69.0,NaN,250.0,NaN,1.0,1.0,1.0
4,fold 5 test,25.0,NaN,298.0,NaN,1.0,1.0,1.0

Ok, this is way too accurate. I think the reason this is working is because our informedness is 100%. There are no NaN values in here so lets add some of those and shake this up a bit.

In [218]:
# reset wine_table
wine_table = pd.read_csv(url)
pd.set_option('display.max_columns', None)
wine_table.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [219]:
#pulled from my K_Means notebook.

def assign_nulls(table, target):
    """
    table => our input table (wine_table in this case)
    target => our target column
    """
    #length of column
    column_size = len(table[target])
    
    #using a ratio of 10 to 30 percent nulls, may add customization to this later
    ratio = float(random.randint(10, 30)/100)
    int_ratio = int(ratio * column_size)
    
    #gather random indices
    indices = random.sample(range(column_size), int_ratio)
    #sourced from https://stackoverflow.com/questions/6482889/get-random-sample-from-list-while-maintaining-ordering-of-items
    
    #assign nulls to randomly selected indices
    for i in indices:
        table.at[i, target] = float("NaN")
    
    return table

In [220]:
#assign random nulls to all my ohe columns
wine_table['quality'] = wine_table.apply(lambda row: float(row.quality), axis=1)
for target in ohe_columns:
    wine_table=assign_nulls(wine_table, target)

In [221]:
wine_table = batch_ohe(wine_table, ohe_columns, 3)

Binning chlorides
Low       1282
Medium      22
High         8
Name: chlorides_bin, dtype: int64
One Hot Encoding chlorides

Binning total sulfur dioxide
Low       1146
Medium     100
High         2
Name: totalsulfurdioxide_bin, dtype: int64
One Hot Encoding total sulfur dioxide

Binning residual sugar
Low       1326
Medium      39
High        11
Name: residualsugar_bin, dtype: int64
One Hot Encoding residual sugar

Binning density
Medium    1100
Low        147
High       129
Name: density_bin, dtype: int64
One Hot Encoding density

Binning quality
Medium    1139
High       183
Low         54
Name: quality_bin, dtype: int64
One Hot Encoding quality

In [222]:
wine_table.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,chlorides_Low,chlorides_Medium,chlorides_High,totalsulfurdioxide_Low,totalsulfurdioxide_Medium,totalsulfurdioxide_High,residualsugar_Low,residualsugar_Medium,residualsugar_High,density_Low,density_Medium,density_High,quality_Low,quality_Medium,quality_High
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5.0,1,0,0,1,0,0,1,0,0,0,1,0,0,1,0
1,7.8,0.88,0.00,2.6,NaN,25.0,NaN,0.9968,3.20,0.68,9.8,NaN,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5.0,1,0,0,1,0,0,1,0,0,0,1,0,0,1,0
3,11.2,0.28,0.56,1.9,0.075,17.0,NaN,0.9980,3.16,0.58,9.8,6.0,1,0,0,0,0,0,1,0,0,0,1,0,0,1,0
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,NaN,3.51,0.56,9.4,5.0,1,0,0,1,0,0,1,0,0,0,0,0,0,1,0

In [225]:
wine_table = wine_quality_split(wine_table, 5)
wine5_table = k_fold(wine_table, 5, 'h_quality', {}, splitter_columns)
wine5_table.head()

,name,true_positive,false_positive,true_negative,false_negative,accuracy,f1,informedness
0,fold 1 test,108.0,152.0,59.0,NaN,0.523511,0.586957,0.279621
1,fold 2 test,49.0,1.0,157.0,112.0,0.645768,0.464455,0.298019
2,fold 3 test,48.0,2.0,188.0,81.0,0.739812,0.536313,0.361567
3,fold 4 test,85.0,5.0,124.0,105.0,0.655172,0.607143,0.408609
4,fold 5 test,37.0,14.0,166.0,106.0,0.628483,0.381443,0.180963

In [226]:
wine5_table.describe()

,true_positive,false_positive,true_negative,false_negative,accuracy,f1,informedness
count,5.000000,5.000000,5.000000,4.000000,5.000000,5.000000,5.000000
mean,65.400000,34.800000,138.800000,101.000000,0.638549,0.515262,0.305756
std,29.904849,65.716817,50.196613,13.686977,0.077327,0.092890,0.086616
min,37.000000,1.000000,59.000000,81.000000,0.523511,0.381443,0.180963
25%,48.000000,2.000000,124.000000,99.000000,0.628483,0.464455,0.279621
50%,49.000000,5.000000,157.000000,105.500000,0.645768,0.536313,0.298019
75%,85.000000,14.000000,166.000000,107.500000,0.655172,0.586957,0.361567
max,108.000000,152.000000,188.000000,112.000000,0.739812,0.607143,0.408609

Ok, this is better. I figured out that by setting my cutoff to 5 it confused the algorithm more because the value_counts() of high and low quality are relatively similar. The NaN values help it too. I'm going to leave this extra work in to show what issue I ran into earler. Basically, the high quality wines were too easily predictable when the cutoff was at 6. Including 6 as a high quality wine confused the k_folding and it's accuracy sits below 70%. I'm going to run a couple more k_folding algorithms with different k's and see if the model improves.

In [227]:
wine10_table = k_fold(wine_table, 10, 'h_quality', {}, splitter_columns)
wine10_table.head()

,name,true_positive,false_positive,true_negative,false_negative,accuracy,f1,informedness
0,fold 1 test,9.0,3.0,115.0,32.0,0.779874,0.339623,0.194088
1,fold 2 test,14.0,NaN,92.0,53.0,0.666667,0.345679,0.208955
2,fold 3 test,27.0,NaN,77.0,55.0,0.654088,0.495413,0.329268
3,fold 4 test,22.0,1.0,79.0,57.0,0.635220,0.431373,0.265981
4,fold 5 test,4.0,NaN,114.0,41.0,0.742138,0.163265,0.088889

In [228]:
wine10_table.describe()

,true_positive,false_positive,true_negative,false_negative,accuracy,f1,informedness
count,10.000000,7.000000,10.000000,10.000000,10.000000,10.000000,10.000000
mean,24.100000,3.571429,84.300000,49.000000,0.678223,0.439626,0.274455
std,15.516658,2.439750,18.874145,9.237604,0.058966,0.159278,0.135505
min,4.000000,1.000000,54.000000,32.000000,0.610063,0.163265,0.088889
25%,15.000000,2.000000,75.500000,42.500000,0.635220,0.355004,0.188825
50%,21.000000,3.000000,81.000000,52.000000,0.660377,0.409861,0.237468
75%,27.750000,5.000000,90.250000,55.750000,0.727987,0.490204,0.319454
max,55.000000,7.000000,115.000000,60.000000,0.779874,0.687500,0.510611

Weird, when K was increased to 10 the k_folding algorithm got worse. I'm going to test this one more time with 15.

In [229]:
wine15_table = k_fold(wine_table, 15, 'h_quality', {}, splitter_columns)
wine15_table.head(10)

,name,true_positive,false_positive,true_negative,false_negative,accuracy,f1,informedness
0,fold 1 test,6.0,1.0,77.0,22.0,0.783019,0.342857,0.201465
1,fold 2 test,8.0,2.0,74.0,22.0,0.773585,0.400000,0.240351
2,fold 3 test,9.0,NaN,56.0,41.0,0.613208,0.305085,0.180000
3,fold 4 test,20.0,NaN,48.0,38.0,0.641509,0.512821,0.344828
4,fold 5 test,21.0,NaN,52.0,33.0,0.688679,0.560000,0.388889
5,fold 6 test,8.0,1.0,56.0,41.0,0.603774,0.275862,0.145721
6,fold 7 test,4.0,NaN,80.0,22.0,0.792453,0.266667,0.153846
7,fold 8 test,12.0,NaN,66.0,28.0,0.735849,0.461538,0.300000
8,fold 9 test,32.0,2.0,43.0,29.0,0.707547,0.673684,0.480146
9,fold 10 test,32.0,2.0,41.0,31.0,0.688679,0.659794,0.461425

In [230]:
wine15_table.describe()

,true_positive,false_positive,true_negative,false_negative,accuracy,f1,informedness
count,15.000000,10.000000,15.00000,15.000000,15.000000,15.000000,15.000000
mean,16.066667,2.500000,56.20000,32.666667,0.678562,0.446768,0.277536
std,10.271087,1.715938,13.57624,7.696629,0.073466,0.143660,0.125732
min,4.000000,1.000000,32.00000,22.000000,0.565217,0.266667,0.124319
25%,8.500000,1.250000,49.00000,27.000000,0.608491,0.333591,0.166923
50%,12.000000,2.000000,53.00000,33.000000,0.688679,0.400000,0.240351
75%,20.500000,2.750000,64.00000,39.500000,0.731132,0.536410,0.366858
max,37.000000,6.000000,80.00000,45.000000,0.792453,0.673684,0.480146

Let's crank up K and see if it keeps increasing!

In [231]:
wine40_table = k_fold(wine_table, 40, 'h_quality', {}, splitter_columns)
wine40_table.head(10)

,name,true_positive,false_positive,true_negative,false_negative,accuracy,f1,informedness
0,fold 1 test,4.0,1.0,25.0,9.0,0.743590,0.444444,0.269231
1,fold 2 test,1.0,NaN,30.0,8.0,0.794872,0.200000,0.111111
2,fold 3 test,1.0,NaN,30.0,8.0,0.794872,0.200000,0.111111
3,fold 4 test,3.0,2.0,27.0,7.0,0.769231,0.400000,0.231034
4,fold 5 test,NaN,NaN,31.0,8.0,0.794872,0.000000,0.000000
5,fold 6 test,6.0,NaN,20.0,13.0,0.666667,0.480000,0.315789
6,fold 7 test,5.0,NaN,20.0,14.0,0.641026,0.416667,0.263158
7,fold 8 test,3.0,NaN,21.0,15.0,0.615385,0.285714,0.166667
8,fold 9 test,5.0,NaN,17.0,17.0,0.564103,0.370370,0.227273
9,fold 10 test,8.0,NaN,14.0,17.0,0.564103,0.484848,0.320000

In [232]:
wine40_table.describe()

,true_positive,false_positive,true_negative,false_negative,accuracy,f1,informedness
count,36.000000,15.000000,40.000000,40.000000,40.000000,40.000000,40.000000
mean,6.694444,1.666667,21.075000,12.250000,0.680449,0.421622,0.270660
std,4.173518,0.723747,6.044228,4.459217,0.091229,0.217765,0.180441
min,1.000000,1.000000,10.000000,4.000000,0.512821,0.000000,0.000000
25%,3.750000,1.000000,17.000000,9.000000,0.615385,0.299074,0.163462
50%,5.500000,2.000000,21.000000,12.000000,0.666667,0.425725,0.250000
75%,9.250000,2.000000,25.000000,14.250000,0.750000,0.552174,0.367013
max,16.000000,3.000000,35.000000,30.000000,0.897436,0.833333,0.714286

K folding seems to be improving each time K is increased. Not as fast as I would like but the accuracy just passed 70% at k = 40. Let's see how the random forest fairs.

# Random Forest Modeling Method

In [179]:
forest1 = forest_builder(wine_table, splitter_columns, 'h_quality', hypers={'total-trees': 15})
len(forest1)

15

In [180]:
wine_table['forest_1'] = wine_table.apply(lambda row: vote_taker(row, forest1), axis=1)

In [182]:
wine_table['forest_1_type'] = wine_table.apply(lambda row: predictor_case(row, pred='forest_1', target='h_quality'), axis=1)

In [183]:
forest1_types = wine_table['forest_1_type'].value_counts()  # returns a series
forest1_types

true_negative     939
false_negative    613
true_positive      43
false_positive      4
Name: forest_1_type, dtype: int64

In [184]:
print((accuracy(forest1_types), f1(forest1_types), informedness(forest1_types)))

(0.6141338336460288, 0.12233285917496445, 0.06130699893955471)

This is a similar result to the K Folding model. Let's see what happens when we decrease K.

In [185]:
forest2 = forest_builder(wine_table, splitter_columns, 'h_quality', hypers={'total-trees': 10})
len(forest2)

wine_table['forest_2'] = wine_table.apply(lambda row: vote_taker(row, forest2), axis=1)

wine_table['forest_2_type'] = wine_table.apply(lambda row: predictor_case(row, pred='forest_2', target='h_quality'), axis=1)

forest2_types = wine_table['forest_2_type'].value_counts()  # returns a series
forest2_types

true_negative     941
false_negative    619
true_positive      37
false_positive      2
Name: forest_2_type, dtype: int64

In [187]:
print((accuracy(forest2_types), f1(forest2_types), informedness(forest2_types)))

(0.6116322701688556, 0.1064748201438849, 0.05428154825026521)

In [199]:
forest5 = forest_builder(wine_table, splitter_columns, 'h_quality', hypers={'total-trees': 15})
len(forest5)

wine_table['forest_5'] = wine_table.apply(lambda row: vote_taker(row, forest5), axis=1)

wine_table['forest_5_type'] = wine_table.apply(lambda row: predictor_case(row, pred='forest_5', target='h_quality'), axis=1)

forest5_types = wine_table['forest_5_type'].value_counts()  # returns a series
forest5_types

true_negative     943
false_negative    491
true_positive     165
Name: forest_5_type, dtype: int64

In [200]:
print((accuracy(forest5_types), f1(forest5_types), informedness(forest5_types)))

(0.6929330831769857, 0.40194884287454324, 0.2515243902439024)

A lot of improvement! Let's push K farther to 20 and see how well we can improve the accuracy.

In [189]:
forest3 = forest_builder(wine_table, splitter_columns, 'h_quality', hypers={'total-trees': 20})
len(forest3)

wine_table['forest_3'] = wine_table.apply(lambda row: vote_taker(row, forest3), axis=1)

wine_table['forest_3_type'] = wine_table.apply(lambda row: predictor_case(row, pred='forest_3', target='h_quality'), axis=1)

forest3_types = wine_table['forest_3_type'].value_counts()  # returns a series
forest3_types

true_negative     943
false_negative    514
true_positive     142
Name: forest_3_type, dtype: int64

In [190]:
print((accuracy(forest3_types), f1(forest3_types), informedness(forest3_types)))

(0.6785490931832395, 0.3558897243107769, 0.21646341463414642)

A little worse, let's crank up K and see what we get. This could just be a one time decrease. How about 40 trees!

In [191]:
forest4 = forest_builder(wine_table, splitter_columns, 'h_quality', hypers={'total-trees': 40})
len(forest4)

wine_table['forest_4'] = wine_table.apply(lambda row: vote_taker(row, forest4), axis=1)

wine_table['forest_4_type'] = wine_table.apply(lambda row: predictor_case(row, pred='forest_4', target='h_quality'), axis=1)

forest4_types = wine_table['forest_4_type'].value_counts()  # returns a series
forest4_types

true_negative     943
false_negative    624
true_positive      32
Name: forest_4_type, dtype: int64

In [192]:
print((accuracy(forest4_types), f1(forest4_types), informedness(forest4_types)))

(0.6097560975609756, 0.09302325581395349, 0.04878048780487809)

Hmm, that went down. I'm thinking that K folding has a slightly better accuracy.

# Reflection

Data Wrangling:
This project started out a bit rocky because I didn't think originally I would use NaN values in the data for this portion. This proved to be very important for the accuracy of the models later. Also the cutoff for quality was super important. That's what the first third of this notebook is about. On the topic of the NaN values I learned that without these, the algorithms would accurately model every time because there was were predictions going on in the data, all they had to do was read it. Next the cutoff helped with this as well. Since the quality values of 5 and 6 are roughly equal in size in the wine data set having them both reserved as low quality divides the data set very cleanly. Anything that is classified as high quality could be (aggresively) argued as an outlier. Including 6 in the high quality basket mixed the bag up because the stats of wines rated at 6 and the stats at 5 are very close together. It became very difficult for k folding and random forests to find a defining factor between high and low quality. 

K folding and random forests:
All in all I think that k folding creates a better model than the random forests for two reasons. One, the random forest doesn't improve over an increase in the amount of trees. There seems to be a sweet spot of accuracy around 15-20 trees but then the tests decrease in accuracy with lower and higher k values. So the first reason is that the random forest has a cap on it's accuracy and the cap is not great to begin with. The second reason has to do with the comparison of the algorithms themselves. When looking at the value counts between random forests and k folding, the random forests rarely have false_positives and their performance of true_negatives and false_negatives are very high. What is happening here is that the random forests are classifying a lot of points wrong. The random forest is having trouble distinguishing between the cutoff 5-6 and usually choosing the incorrect classification. This does not improve with more data. The random forest seems to get confused with too little and too much data. K folding handles this growth of information much better. As the k value gets pushed higher and higher the accuracy of the model consistently improves. The only downfall is when k folding is not given enough folds.